In [9]:
import paramiko
import pymysql

from tabulate import tabulate

In [10]:
# Open SSH connection to the server
ssh = paramiko.SSHClient()
ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh.connect(hostname='10.5.18.70', username='20CS10072', password='bt20')

In [11]:
cmd = "pwd"
stdin, stdout, stderr = ssh.exec_command(cmd)

for line in stdout.readlines():
    print(line)

/home/bt0/20CS10072

In [12]:
# Open database connection
connection = pymysql.connect(
    host='10.5.18.70',
    user='20CS10072',
    password='20CS10072',
    db='20CS10072'
)

In [37]:
Patient_ID = 1
Doctor_ID = 3

query = f"SELECT * \
          FROM Undergoes JOIN Patient on (Undergoes.Patient = Patient.ID) \
          WHERE Doctor = {Doctor_ID};"

with connection.cursor() as cursor:
    cursor.execute(query)
    
    columns = [column[0] for column in cursor.description]
    rows = cursor.fetchall()
    print( tabulate( rows, headers = columns, tablefmt= 'psql') )

+------+--------+-----------+----------+------+--------+-----------+---------+------+--------+------------+---------------------------+---------------+---------------+
|   ID | Code   |   Patient |   Doctor | dt   | slot   | Outcome   | Image   |   ID | Name   |      Phone | Email                     | Address       |   InsuranceID |
|------+--------+-----------+----------+------+--------+-----------+---------+------+--------+------------+---------------------------+---------------+---------------|
|    2 | ABC123 |         1 |        3 |      |        |           |         |    1 | Vibhu  | 1111111111 | vibhuyadav41002@gmail.com | Addressssssss |         12345 |
|    3 | ABC456 |         2 |        3 |      |        |           |         |    2 | Prerit | 1111111112 | prerit@gmail.com          | Addressssssss |         12346 |
+------+--------+-----------+----------+------+--------+-----------+---------+------+--------+------------+---------------------------+---------------+---------------+